header{
    background: var(--blue);
    --font-color: white;
}
#header-contacts {
    color: white;
    --blue: white;
}
header button{
    --btn-color: white;
    --btn-bg: var(--blue);
    border-color: white;
}
#header-contacts > div:first-child svg,
#header-lang svg,
#menu-button svg{
    filter: invert(1);
}
#header-lang{
    color: white;
}
header svg, #header-phone svg{
    fill: white;
}
#header-phone{
    filter: brightness(6);
}

#orders, #orderDitails{
    --order-pd: 40px;
    --rad: 40px;
    padding: var(--order-pd);
    box-sizing: border-box;
    background: white;
    border-radius: var(--rad);
    max-width: 1200px;
    width: 100%;
    position: relative;
    display: none;
}
#orders[open], #orderDitails[open]{
    display: flex;
}
.tableWrapper{
    width: 100%;
    overflow: auto;
    gap: 20px;
}
#orderDitails .tableWrapper{
    padding-bottom: 15px;
}
.tableWrapper::-webkit-scrollbar{
    background-color: #bebdbd4f;
    border-radius: 30px;
    height: 10px;
}
.tableWrapper::-webkit-scrollbar-thumb{
    background-color: var(--gray);
    border-radius: 30px;
}
table{
    border-collapse: collapse;
    width: 100%;

}

thead {
    border-bottom: 2px solid var(--light-orange);
}
th, td{
    padding: 10px;
    box-sizing: border-box;
    height: 60px;
}
th svg, td svg{
    min-width: 36px;
}
#orderDitails .t-svg{
    flex-wrap: wrap;
    justify-content: center;
}
#orderDitails td span, #orderDitails th span{
    white-space: nowrap;
    gap: 10px;
}
.border-right{
    border-right: 2px solid var(--gray);
}
.border-top{
    border-top: 2px solid var(--gray);
}
.border-bottom{
    border-bottom: 2px solid var(--gray);
}
thead th .t-svg{
    justify-content: center;
}

.table-row .border-bottom{
    border-bottom: none;
}

.mobile .table-row td{

    height: 42px;
}
.mobile tr .border-bottom{
    border-bottom: none;
}
.mobile tr .border-right:last-child{
    border-right: none;
}

.mobile-buttons{
    height: 150px;
    display: none;
    border-bottom: 2px solid var(--gray);
}
.mobile-buttons:last-child{
    border-bottom: none;
}
.mobile-buttons .table-buttons{
    height: 150px;
    position: relative;
}
.mobile-buttons:last-child, .mobile-buttons:last-child .table-buttons{
    height: 90px;
}
.mobile-buttons .table-buttons{
    height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}
.mobile .mobile-buttons{
    display: table-row;
}

.date-row{
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
}
.t-svg{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5.5px;
}
.table-buttons{
    padding: 0px 10px;
}
.table-button{
    font-size: 14px;
    padding: 11.5px;
    height: auto;
    width: 160px;
    margin: 5px 2.5px;
}
.problem-noted{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px 2.5px;
    width: 120px;
}
.table-button_error{
    --btn-color: var(--error);
    border-color: var(--error);
}
.problem-noted{
    color: var(--error);
}
#problemModalForm{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    --modal-pd: 40px;
    padding: var(--modal-pd);
    background: white;
    border-radius: 40px;
    gap: 30px;
    width: 100%;
    box-sizing: border-box;
    max-width: 440px;
    z-index: 10000;
    box-shadow: 0px 0px 100px 10px #ffffff;
}
#cover{
    background-color: rgba(0, 0, 0, 0.5);
}
#closeModal{
    cursor: pointer;
}
#problemModalForm > div{
    justify-content: space-between;
}
#idInputWrapper{
    position: relative;
    margin-bottom: 10px;
}
#problemTypes{
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#orderDitails{
    gap: 30px;
}
.feedbackRatingForm textarea {
    height: auto !important;
    min-height: 60px;
    border-radius: 16px;
}
#feedback-details{
    border: 2px solid var(--gray);
    box-sizing: border-box;
    padding: 0 18px;
    width: auto;
    border-radius: 20px;
}
#orderDitails .button:first-child{
    padding: 8px 15px 8px 6px;
    --btn-color:black ;
    border: none;
}
#order-info{
    justify-content: space-between;
}
.order-item{
    gap: 20px;
}
.order-item > div{
    gap: 10px;
	flex-wrap: wrap;
}
.order-info-value{
    gap: 10px;
}
.order-info-value div {
    gap: 4px;
}
.order-item h3 {
    text-transform: none;
}
#pickUp, #delivery{
    max-width: 160px;
}
#order-table-wrapper{
    gap: 10px;
    padding-top: 10px;
    border-top: 2px solid var(--gray);
}
#orderDetailsFooter{
    justify-content: space-between;
    gap: 25px;
    flex-wrap: wrap;
}
#order-qr-section > div{
    gap: 60px;
}
#qr-wrapper{
    gap: 18px;
}
#qr{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
#qr-instructions{
    width: auto;
}
#order-driver-photos, #order-feedback-section {
    gap: 18px;
}
#order-driver-photos div{
    gap: 10px;
}

#costs div{
    min-height: 42px;
    gap: 20px;
}
#finalCost{
    min-height: 54px;
}
@media (max-width: 1200px){
    #order-info{
        flex-wrap: wrap;
        gap: 30px;
    }
    #pickUp, #delivery{
        max-width: 300px;
    }
    #order-qr-section > div{
        gap: 30px;
    }
}
@media (max-width:868px) {
    #ordersSetionWrapper{
        padding-top: 90px;
        padding-bottom: 70px;
    }
    #orders, #orderDitails{
        --order-pd: 40px 20px;
    }
    #pickUp, #delivery{
        max-width: auto;
    }
    #order-qr-section > div{
        flex-wrap: wrap;
    }
}
@media (max-width: 500px) {
    .order-item > div {
        width: 100%;
        align-items: start;
    }
    #ordersSetionWrapper{
        --section-pd: 0px;
    }
    .order-item:last-child > div > div {
        flex-direction: row-reverse;
    }
    #orderDitailsFooter{
        flex-wrap: wrap;
    }
    #costs{
        width: 100%;
    }
}
