.hero::after {
    display: none;
}

form,
#formWrapper > div {
    box-sizing: border-box;
    max-width: 440px;
    width: 100%;
    --form-pd: 40px;
    --form-rad: 40px;
    padding: var(--form-pd);
    background-color: white;
    gap: 30px;
    border-radius: var(--form-rad);
    box-shadow: 0px 0px 125px 10px #ffffff;
    gap: 20px;
    overflow: hidden;
}
form {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#formWrapper > div {
    box-shadow: 20px 0px 125px 10px #ffffff;
    padding-bottom: 0px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#form > div {
    gap: 8px;
    flex-wrap: wrap;
}
#form > div:last-child {
    justify-content: space-between;
}
#formWrapper {
    width: 100%;
    padding: calc(var(--section-content-pd) * 2) 0;
}
fieldset {
    width: 100%;
    --prop: 2px solid var(--light-orange);
    border: none;
    border-top: var(--prop);
    padding: 0;
}
legend {
    margin: auto;
    padding: 0 20px;
}

h3 {
    text-transform: none;
}

#authBtns {
    gap: 10px;
}
.authBtn {
    position: relative;
    min-width: 60px;
    border: 2px solid var(--blue) !important;
}
.button:hover .google_icon {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.5));
}
.google_icon {
    display: block;
    height: 28px;
    content: url('data:image/svg+xml,<svg width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.2569 11.0519H26.25V11H15V16H22.0644C21.0338 18.9106 18.2644 21 15 21C10.8581 21 7.5 17.6419 7.5 13.5C7.5 9.35813 10.8581 6 15 6C16.9119 6 18.6513 6.72125 19.9756 7.89937L23.5112 4.36375C21.2787 2.28312 18.2925 1 15 1C8.09688 1 2.5 6.59688 2.5 13.5C2.5 20.4031 8.09688 26 15 26C21.9031 26 27.5 20.4031 27.5 13.5C27.5 12.6619 27.4137 11.8438 27.2569 11.0519Z" fill="%23FFC107"/><path d="M3.94125 7.68188L8.04813 10.6938C9.15938 7.9425 11.8506 6 15 6C16.9119 6 18.6513 6.72125 19.9756 7.89937L23.5112 4.36375C21.2787 2.28312 18.2925 1 15 1C10.1988 1 6.035 3.71063 3.94125 7.68188Z" fill="%23FF3D00"/><path d="M15 26C18.2287 26 21.1625 24.7644 23.3806 22.755L19.5119 19.4813C18.2147 20.4677 16.6297 21.0013 15 21C11.7488 21 8.98812 18.9269 7.94812 16.0338L3.87188 19.1744C5.94062 23.2225 10.1419 26 15 26Z" fill="%234CAF50"/><path d="M27.2569 11.0519H26.25V11H15V16H22.0644C21.5714 17.3853 20.6833 18.5957 19.51 19.4819L19.5119 19.4813L23.3806 22.755C23.1069 23.0037 27.5 19.75 27.5 13.5C27.5 12.6619 27.4137 11.8438 27.2569 11.0519Z" fill="%231976D2"/></svg>');
}
.facebook_icon {
    content: url('data:image/svg+xml,<svg width="13" height="23" viewBox="0 0 13 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.15708 12.3648H11.8793L12.4637 8.56055H8.15632V6.48134C8.15632 4.90099 8.66957 3.49962 10.1389 3.49962H12.5V0.179741L12.4777 0.17671C12.0541 0.119086 11.1787 0 9.54996 0C6.08819 0 4.05867 1.8393 4.05867 6.0297V8.56055H0.5V12.3648H4.05867V22.821C4.76344 22.9276 5.47729 23 6.21007 23C6.87245 23 7.51893 22.9391 8.15708 22.8522V12.3648Z" fill="%230B84EE"/></svg>');
}
.weChat_icon {
    position: absolute;
    width: 28px;
    content: url('data:image/svg+xml,<svg width="29" height="23" viewBox="0 0 29 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M28.5 14.816C28.5 10.8652 24.5801 7.61979 20.1003 7.61979C15.4805 7.61979 11.7006 10.8652 11.7006 14.816C11.7006 18.7668 15.3404 22.0121 20.1003 22.0121C21.0805 22.0121 22.0606 21.7297 23.0401 21.4479L25.7003 23L25.0004 20.4601C26.9607 18.908 28.5 16.9323 28.5 14.816ZM17.4407 13.5457C16.8809 13.5457 16.4606 13.122 16.4606 12.5578C16.4606 12.1348 17.0204 11.5699 17.4407 11.5699C18.1407 11.5699 18.7011 11.9936 18.7011 12.5578C18.7005 12.9815 18.1407 13.5457 17.4407 13.5457ZM22.7605 13.5457C22.3408 13.5457 21.7804 13.122 21.7804 12.5578C21.7804 12.1348 22.3402 11.5699 22.7605 11.5699C23.4604 11.5699 24.0209 11.9936 24.0209 12.5578C24.0209 12.9815 23.6006 13.5457 22.7605 13.5457Z" fill="%2304AE0F"/><path d="M10.3002 0C4.84027 0 0.5 3.66901 0.5 8.46646C0.5 11.1476 2.03995 13.4051 4.41994 15.0984L3.44043 18.0614L6.94067 16.3681C8.2004 16.6505 9.18054 16.9323 10.4409 16.9323H11.4211C11.2809 16.2269 11.1415 15.5214 11.1415 14.816C11.1415 10.4422 14.7812 6.91374 19.5411 6.91374H20.5213C19.4004 2.96294 15.2002 0 10.3002 0ZM7.22026 6.63196C6.52034 6.63196 5.6803 6.20831 5.6803 5.36167C5.6803 4.65559 6.38086 4.09138 7.22026 4.09138C7.92018 4.09138 8.48062 4.51502 8.48062 5.36167C8.34051 6.20831 7.92081 6.63196 7.22026 6.63196ZM14.0806 6.63196C13.3807 6.63196 12.5407 6.20831 12.5407 5.36167C12.5407 4.65559 13.2406 4.09138 14.0806 4.09138C14.7805 4.09138 15.341 4.51502 15.341 5.36167C15.3404 6.20831 14.7805 6.63196 14.0806 6.63196Z" fill="%2304AE0F"/></svg>');
}
.showPass {
    user-select: none;
    content: url('data:image/svg+xml,<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.5845 10.5445C15.7807 10.0421 15.8802 9.5099 15.8783 8.97356C15.8783 7.78269 15.3845 6.6406 14.5055 5.79852C13.6265 4.95645 12.4344 4.48338 11.1913 4.48338C10.6384 4.484 10.09 4.57932 9.57206 4.76484L10.6721 5.85138C10.8393 5.82575 11.0083 5.81262 11.1776 5.81211C12.0566 5.81035 12.9005 6.14183 13.5252 6.73416C14.1499 7.3265 14.5046 8.13156 14.5118 8.97356C14.5112 9.13579 14.4975 9.29773 14.4708 9.45793L15.5845 10.5445Z" fill="%237E7E7E"/><path d="M21.8019 8.66595C19.4994 4.58813 15.4615 2.1205 10.9932 2.1205C9.77661 2.12323 8.5682 2.31103 7.41309 2.67686L8.51308 3.73722C9.32329 3.53663 10.1564 3.43329 10.9932 3.42959C14.8398 3.42959 18.3379 5.48486 20.4217 8.94741C19.6573 10.232 18.6439 11.365 17.436 12.2856L18.4062 13.215C19.8042 12.1346 20.9652 10.7999 21.8224 9.28777L22 8.97359L21.8019 8.66595Z" fill="%237E7E7E"/><path d="M1.70124 0.975273L4.74843 3.89455C2.82236 5.08262 1.24819 6.72596 0.177639 8.66618L0 8.97382L0.177639 9.288C2.48012 13.3658 6.51799 15.8335 10.9863 15.8335C12.7303 15.8331 14.4517 15.455 16.0217 14.7273L19.4378 18L20.6335 17.0182L2.86956 0L1.70124 0.975273ZM8.36271 7.35709L12.9062 11.7098C12.3928 12.0142 11.8018 12.1773 11.1981 12.1811C10.7594 12.1811 10.3251 12.098 9.92004 11.9366C9.51501 11.7752 9.1473 11.5386 8.83806 11.2405C8.52882 10.9424 8.28416 10.5887 8.11815 10.1997C7.95215 9.81069 7.86808 9.39407 7.87078 8.97382C7.87848 8.40211 8.04854 7.84321 8.36271 7.35709ZM7.37203 6.408C6.73282 7.27161 6.43322 8.32405 6.52627 9.37897C6.61932 10.4339 7.09901 11.4233 7.88042 12.1719C8.66183 12.9205 9.69454 13.38 10.7957 13.4692C11.8968 13.5583 12.9954 13.2713 13.8969 12.6589L14.99 13.7062C13.7245 14.2244 12.3626 14.4916 10.9863 14.4916C7.13973 14.4916 3.6416 12.4364 1.55776 8.97382C2.5578 7.27738 3.99806 5.857 5.73911 4.85018L7.37203 6.408Z" fill="%237E7E7E"/></svg>');
    width: 22px;
    margin-left: 8px;
}
.showPass[active] {
    content: url('data:image/svg+xml,<svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.8221 6.68258C19.5168 2.51933 15.4739 0 11 0C6.52612 0 2.47637 2.51933 0.191542 6.68258L0 6.99666L0.177861 7.31742C2.48321 11.4807 6.52612 14 11 14C15.4739 14 19.5236 11.5141 21.8221 7.31742L22 6.99666L21.8221 6.68258ZM11 12.6301C7.14863 12.6301 3.61194 10.5317 1.5597 6.99666C3.61194 3.46158 7.14863 1.36325 11 1.36325C14.8514 1.36325 18.347 3.46826 20.4335 6.99666C18.347 10.5317 14.8445 12.6301 11 12.6301Z" fill="black"/><path d="M11.1984 2.43246C10.2709 2.43907 9.36613 2.71405 8.59848 3.22266C7.83084 3.73127 7.23471 4.4507 6.88537 5.29009C6.53604 6.12948 6.44919 7.05117 6.63577 7.93875C6.82236 8.82633 7.27402 9.63998 7.93371 10.277C8.5934 10.9139 9.43152 11.3456 10.3422 11.5176C11.2529 11.6895 12.1954 11.5939 13.0505 11.2429C13.9056 10.8919 14.6351 10.3012 15.1468 9.54545C15.6585 8.78969 15.9294 7.90275 15.9254 6.99666C15.9227 6.39351 15.7982 5.79681 15.559 5.24076C15.3198 4.6847 14.9707 4.18021 14.5316 3.75621C14.0924 3.33221 13.572 2.99703 13 2.76987C12.428 2.54272 11.8158 2.42806 11.1984 2.43246ZM11.1984 10.2644C10.5432 10.2578 9.90464 10.0623 9.36287 9.70231C8.8211 9.34234 8.4003 8.83402 8.1533 8.24118C7.90631 7.64835 7.84414 6.99744 7.9746 6.3702C8.10506 5.74296 8.42234 5.16736 8.88659 4.7157C9.35083 4.26404 9.94135 3.95645 10.584 3.83157C11.2266 3.70668 11.8926 3.77007 12.4985 4.01377C13.1044 4.25747 13.623 4.67062 13.9893 5.20132C14.3555 5.73202 14.5531 6.35662 14.5572 6.99666C14.559 7.42742 14.4733 7.85424 14.305 8.25239C14.1367 8.65053 13.8891 9.01207 13.5767 9.31604C13.2642 9.62002 12.8931 9.86037 12.4849 10.0232C12.0766 10.186 11.6393 10.268 11.1984 10.2644Z" fill="black"/></svg>');
}
.text-input_password .inputWrapper {
    justify-content: space-between;
}
.text-input_password[show] .showPass {
    content: url('data:image/svg+xml,<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.8221 13.6826C22.5168 9.51933 18.4739 7 14 7C9.52612 7 5.47637 9.51933 3.19154 13.6826L3 13.9967L3.17786 14.3174C5.48321 18.4807 9.52612 21 14 21C18.4739 21 22.5236 18.5141 24.8221 14.3174L25 13.9967L24.8221 13.6826ZM14 19.6301C10.1486 19.6301 6.61194 17.5317 4.5597 13.9967C6.61194 10.4616 10.1486 8.36325 14 8.36325C17.8514 8.36325 21.347 10.4683 23.4335 13.9967C21.347 17.5317 17.8445 19.6301 14 19.6301Z" fill="black"/><path d="M14.1984 9.43246C13.2709 9.43907 12.3661 9.71405 11.5985 10.2227C10.8308 10.7313 10.2347 11.4507 9.88537 12.2901C9.53604 13.1295 9.44919 14.0512 9.63577 14.9387C9.82236 15.8263 10.274 16.64 10.9337 17.277C11.5934 17.9139 12.4315 18.3456 13.3422 18.5176C14.2529 18.6895 15.1954 18.5939 16.0505 18.2429C16.9056 17.8919 17.6351 17.3012 18.1468 16.5455C18.6585 15.7897 18.9294 14.9028 18.9254 13.9967C18.9227 13.3935 18.7982 12.7968 18.559 12.2408C18.3198 11.6847 17.9707 11.1802 17.5316 10.7562C17.0924 10.3322 16.572 9.99703 16 9.76987C15.428 9.54272 14.8158 9.42806 14.1984 9.43246ZM14.1984 17.2644C13.5432 17.2578 12.9046 17.0623 12.3629 16.7023C11.8211 16.3423 11.4003 15.834 11.1533 15.2412C10.9063 14.6483 10.8441 13.9974 10.9746 13.3702C11.1051 12.743 11.4223 12.1674 11.8866 11.7157C12.3508 11.264 12.9413 10.9565 13.584 10.8316C14.2266 10.7067 14.8926 10.7701 15.4985 11.0138C16.1044 11.2575 16.623 11.6706 16.9893 12.2013C17.3555 12.732 17.5531 13.3566 17.5572 13.9967C17.559 14.4274 17.4733 14.8542 17.305 15.2524C17.1367 15.6505 16.8891 16.0121 16.5767 16.316C16.2642 16.62 15.8931 16.8604 15.4849 17.0232C15.0766 17.186 14.6393 17.268 14.1984 17.2644Z" fill="black"/></svg>');
}
.passInput {
    width: 100%;
}
.text-input_password .inputWrapper > div:first-child {
    width: 100%;
}

@media (max-width: 768px) {
    :root {
        --section-pd: 0px;
        --section-content-pd: 20px;
    }
}
@media (max-width: 550px) {
    :root {
        --section-content-pd: 20px;
    }
    form,
    #formWrapper > div {
        --form-pd: 40px 20px;
    }
}
@media (max-width: 450px) {
    :root {
        --section-content-pd: 20px;
    }
    .authBtn span {
        display: none;
    }
}
