@media (max-width: 860px) {
	#call2 > div > div a {
        position: relative;
        margin: 0 !important;
    }
    .service-card{
        /* max-width: 100%; */
        width: 100%;
    }
    /* #deliveryMan > div {
        border-top: solid 2px var(--light-orange);
        border-right: solid 2px var(--light-orange);
        --section-big-border: 100px;
    }
    #deliveryMan .section-img {
        left: -80px;
    }
    #moving > div {
        padding-right: 0 !important;
        border-bottom: solid 2px var(--light-orange);
        border-left: solid 2px var(--light-orange);
        border-radius: 0 0 0 var(--section-big-border);
    }
    #moving .section-img::before {
        display: none;
    }

    #eBay > div,
    #amazon > div,
    #onTime > div,
    #tracking > div {
        padding-right: 0px;
        padding-top: 40px;
    }
    #eBay .section-img-box,
    #amazon .section-img-box,
    #onTime .section-img-box,
    #tracking .section-img-box {
        display: none;
    }
    .section-content_left a {
        width: 100%;
        justify-content: flex-end;
    }
    .service-card {
        gap: 10px;
    }
    #deliveryMan .service-card,
    #moving .service-card {
        flex-direction: column;
        align-items: start;
    }
    #moving > div {
        padding-bottom: 140px !important;
    }
    #moving .section-img-box {
        top: calc(100% - 180px);
        right: calc(100% - 180px);
    }
    #amazon > div,
    #tracking > div,
    #eBay > div,
    #onTime > div {
        border: none;
        padding: 0 !important;
    } */

    #call h2 {
        font-size: 32px;
    }
    #call {
        overflow: hidden;
    }
    #call > div div:nth-child(2) {
        gap: 0px;
        flex-direction: column;
    }
}
@media (max-width: 560px) {
    #call h2 {
        font-size: 32px;
    }
    /* #deliveryMan > div {
        padding-top: 120px;
    } */
}
