@media (max-width: 1440px) {
    #custom-box {
        flex-direction: column;
        --ai: center;
    }
    #boxCustomValues {
        width: 100%;
    }
    #boxCustomValues .text-input,
    #boxCustomValues input {
        max-width: 100%;
        width: 100%;
    }
}
@media (max-width: 1400px) {
    :root {
        --form-pd: 90px;
    }
    #boxes {
        justify-content: space-between;
    }
}
@media (max-width: 1380px) {
    :root {
        --form-pd: 60px;
    }
}
@media (max-width: 1200px) {
    :root {
        --form-pd: 0px;
    }
}
@media (max-width: 1100px) {
    #boxes {
        --gap: 16px;
        flex-direction: column;
        align-items: center;
    }
    #inputs {
        flex-wrap: wrap;
        gap: 10px;
    }
    #custom-box-btn {
        height: 60px;
    }
}